<p id="notice"><%= notice %></p>

<%= react_component("MatchesIndex", {matches: @matches, current_user: current_user.id}) %>

<!-- today = parseInt(today.getFullYear()+""+(today.getMonth()+1)+today.getDate())
var matches = this.state.matches.map(function(el, i){
  var matchdate = parseInt("" + this.props.timeslot.toString().slice(0, 4) + this.props.timeslot.toString().slice(8, 10) + this.props.timeslot.toString().slice(5, 7)) -->
