<h1>Map</h1>

<%= react_component("Map", {
  googleApiKey: @google_api_key,
  center: @map_center,
  zoom: @map_zoom,
  pins: @locations
}) %>


<!-- googleApiKey: @google_api_key,
center: @map_center,
zoom: @map_zoom,
pins: @locations.each do |location|

end -->
