/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#user_profile {
  /*display: flex;
  flex-flow: row wrap;s
  text-align: center;*/
  clear: both;
  content: "";
  display: table, block;
  clear: both;
  /*margin-left: 10px;*/
  align-items: center;
}

#availability {
  clear: both;
  /*margin-top: 100px;*/
}

#user_data {
  /*flex: 1 100%;*/
  float: left;
  margin-left: 100px;
  margin-top: 40px;
}

img {
  height: 200px;
  width: 200px;
  float: left;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 10px;
}
.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.6;
    color: #fff;
    background: #000 url("https://images.unsplash.com/photo-1501813354559-db602a6d8077?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: visible;
    position: absolute;
    top:0;
    left:0;
    z-index:1;
}
.jumbotron h2 {margin-top:0;}
.jumbotron {
  position:relative;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom:50px;
}
.jumbotron .container {
  height: 40vh;
  position:relative;
  z-index:2;
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top: 0px;
    padding-bottom:20px;
  }
}

.card {
  max-width: 40rem;
  max-height: 40rem;
  background-repeat: no-repeat;
  background-size: contain;
}

#home-page-cards {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-content {
padding-top: 70px;
padding-left: 20px;
padding-right: 20px;
text-shadow: 2px 2px 0px black;
}

.col-lg-12 {
  justify-content: center;
}

.card-title {
  text-align: center;
  background:rgba(0,0,0,0.75);
  color: #fff;
  display: inline;
  padding: 0.5rem;
}

.card-text {
  text-align: center;
  background: rgba(0,0,0,0.75);
  display: inline;
  padding: 0.5rem;
  float: center;
}

.page_style{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1505232219783-f1b72c5880e4?auto=format&fit=crop&w=700&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  image-rendering: pixelated;
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  min-height: 100vh;
  /*overflow: hidden;*/
}

#sign-in-body:before {
  background: url('https://rbfacilities.byu.edu/images/upload/076cc830fe9ea4e82cd6aa3dd1fc47bac2a9bb45.jpeg')
  no-repeat;
  background-size: cover;
  background-position: center;
  opacity:0.6;
}

#matches-head {
  text-align: center;
}

.sign-in-title{
  color: white;
}

.sign-in-box {
  margin-top: 60px;
  border-style: solid black;
  border-width:2px 2px 2px 2px;
  background: white;
  padding: 25px 50px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.65)
}
.new-match-box {
  margin-top: 60px;
  border-style: solid black;
  border-width:2px 2px 2px 2px;
  background: white;
  padding: 25px 50px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.65)
}

.body {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
  background: rgba(135,206,250,0.75);
  /*padding-bottom: 60px;*/
}

.matches-body {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
  /*padding-bottom: 60px;*/
}

.home-title {
  /*text-align: center;
  background: rgba(255,255,255,0.75);
  padding: 0.5rem;
  float: left;*/
}
.footer {
  text-align: center;
  position: absolute;
  width:100%;
  height:60px;
  background-color: #202020;
  color: white;
}
.learn-link {
  color: white;
}
.navbar {
  margin-bottom:0 !important;
}
#user_profile {
  background-color: lightblue;
}
#new-match-body {
  background: rgba(135,206,250,0.75);
}
.btn-block {
  width: 100px;
  height: 60px;
}
