/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*----------------------------------------------------- RESETS ------*/

/*------------------------------------------------------  BODY ------*/
.skill_show {
  margin: 5px;
  font-size: 10px;
  font-weight: bold;
}

.tooltip_icon {
  display: inline;
  height: 20px;
  width: 20px;
  float: none;
  cursor: pointer;
}

#tooltip_border {
  border: solid black 1px;
  border-radius: 5px;
  margin-left: 10px;
  display: none;
  margin: 0;
  padding: 0;
}

#user_profile {
  /*display: flex;
  flex-flow: row wrap;s
  text-align: center;*/
  display: table, block;
  clear: both;
  /*margin-left: 10px;*/
  align-items: center;
}

#availability {
  clear: both;
  /*margin-top: 100px;*/
}

#user_data {
  /*flex: 1 100%;*/
  float: left;
  margin-left: 100px;
  margin-top: 40px;
}

img {
  height: 200px;
  width: 200px;
  float: left;
  margin: 40px 0 40px 10px;
}

.custom-btn {
  background-color: #5bc0de;
  color: #FFF;
  border: 1px solid #5bc0de;
}

.custom-btn:hover {
  background-color: #FFF;
  color: #5bc0de;
}

.btn:hover {
  color: #5bc0de;
}

.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.6;
    color: #fff;
    background-image: #000 top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: visible;
    position: absolute;
    top:0;
    left:0;
    z-index:1;
}

.jumbotron h2 {
  margin-top:0;
}

.jumbotron {
  position:relative;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom:50px;
}

.jumbotron .container {
  height: 40vh;
  position:relative;
  z-index:2;
}

.card {
  max-width: 40rem;
  max-height: 40rem;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40rem;
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#card-1 {
  background-image: image-url("partner.png");
}
#card-2 {
  background-image: image-url("tenniscourt.jpg");
}
#card-3 {
  background-image: image-url("time.jpg");
}

.imagefile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#home-page-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-content {
padding-top: 70px;
padding-left: 20px;
padding-right: 20px;
text-shadow: 2px 2px 0px black;
}

.col-lg-12 {
  justify-content: center;
}

.card-title {
  text-align: center;
  background: rgba(0,0,0,0.75);
  color: #fff;
  display: inline;
  padding: 0.5rem;
}

.card-text {
  text-align: center;
  background: rgba(0,0,0,0.75);
  display: inline;
  padding: 0.5rem;
  float: center;
}

.page_style {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-image: url("courtcorner.jpg");
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 85vh;
  /*overflow: hidden;*/
}

#sign-in-body:before {
  background: url('https://rbfacilities.byu.edu/images/upload/076cc830fe9ea4e82cd6aa3dd1fc47bac2a9bb45.jpeg')
  no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

#matches-head {
  text-align: center;
}

.sign-in-title{
  color: white;
  font-weight: 900;
}

#matchesindex {
  background-color: #B2DDF7;
  min-height: 85vh;
}

.sign-in-box {
  margin-top: 60px;
  border-style: solid black;
  border-width:2px 2px 2px 2px;
  background: white;
  padding: 25px 50px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.65);
}
.new-match-box {
  border-style: solid black;
  border-width:2px 2px 2px 2px;
  background: white;
}
.component-but {
  margin: 0px 5px 0px 5px;
}
.matchComponent {
  margin: 20px;
  border-style: solid black;
  border-width:2px 2px 2px 2px;
  background: white;
  padding: 25px 50px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.65);
  max-width: 400px;
  min-height: 280px;
}

.contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.body {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 85vh;
  background: rgba(135 ,206 ,250 , .75);
}

.matches-body {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  /*max-height: calc(100vh - 80px);*/
  /*padding-bottom: 60px;*/
}

.home-title {
  color: #f;
  /*background: rgba(0,0,0,0.75);*/
  padding: 0.5rem;
  font-weight:2000;
}
.home-title-big {
  color: #fff;
}
.footer {
  text-align: center;
  position: absolute;
  width:100%;
  height:60px;
  background-color: #202020;
  color: white;
}
.learn-link {
  color: white;
}
.navbar {
  margin-bottom:0 !important;
}
#user_profile {
  background-color: lightblue;
}
#new-match-body {
  background: rgba(135,206,250,0.75);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.split-item {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  width: 50%;
  padding: 3em 5em 6em 5em;
}
.match-right {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  background: #0887DB;
  color: #fff;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;

}

.match-left {
  color: #0887DB;
  background: #fff;
}

/*--------------------------------------------------- Media Query ------*/

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top: 0px;
    padding-bottom: 20px;
  }

  #home-page-cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 300rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .btn-block {
    width: 100px;
    height: 60px;
  }
}
